github-trend-hunter/Github Trend Hunter.json
{
  "name": "Github Trend Hunter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        -80
      ],
      "id": "9c49f38f-7ca7-4efc-90e9-326e520d87e8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sort",
              "value": "stars"
            },
            {
              "name": "q",
              "value": "=created:>{{ $now.minus({days: 7}).format('yyyy-MM-dd') }}"
            },
            {
              "name": "order",
              "value": "desc"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        -80
      ],
      "id": "236abd02-fc4e-4a20-b8ac-d08bf360cb5b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a tech editor. Review the list of GitHub repos below.\n\nTask: Create a list item for ALL 5 repos provided in the input. Ensure none are skipped.\n\nFor each repo:\n1. Write a punchy summary (25-30 words) in English explaining its core value.\n2. Output as a clean HTML <li> element using compact inline CSS.\n   - Container: style=\"padding:10px; margin-bottom:15px; border-left:3px solid #3b82f6; background:#f8fafc; list-style:none\"\n   - Title: style=\"font-size:18px; font-weight:bold; color:#1e40af; text-decoration:none\"\n   - Badge: style=\"background:#fbbf24; color:#000; padding:2px 5px; border-radius:4px; font-size:12px; font-weight:bold\"\n3. Format: <a href=\"LINK\" style=\"...\">TITLE</a> <span style=\"...\">★ STARS</span> <br> <p style=\"margin-top:5px; color:#374151\">SUMMARY</p>\n\nOutput ONLY the <ul>...</ul> list (add style=\"padding:0\"). No markdown.\n\nLIST:\n{{ $json.ai_prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        80,
        -80
      ],
      "id": "884ed2d6-c46f-4cd9-a8ea-a93f441d47b5",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "4DBDvOHtys5mShqJ",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const repos = $input.item.json.items;\n\nlet promptText = \"Here are this week's trending repos:\\n\";\n\nfor (const repo of repos) {\n    promptText += `\n    - Repo Name: ${repo.full_name}\n    - Link: ${repo.html_url}\n    - Stars: ${repo.stargazers_count}\n    - Technical Description: ${repo.description}\n    - Language: ${repo.language}\n    --------------------------\\n`;\n}\n\nreturn {\n    json: {\n        ai_prompt: promptText\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -80
      ],
      "id": "bd0788d1-123a-405a-ae62-cc5c9b95790d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "..@gmail.com",
        "subject": "=🔥 This Week's Rising GitHub Projects",
        "message": "=<h2>🚀 Trends of the Week</h2>\n<p>Here are the most notable libraries of the week compiled by AI:</p>\n<hr>\n{{ $json.text }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        -80
      ],
      "id": "e0753be7-220e-436c-ab36-0bc3b1b037c9",
      "name": "Send a message",
      "webhookId": "fc18c833-a879-4bb1-a409-ad553dadd8e7",
      "credentials": {
        "gmailOAuth2": {
          "id": "Mjn37SqYiRmsHqFu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nlet aiResponse = \"\";\n\nif (item.content && Array.isArray(item.content) && item.content.length > 0) {\n    aiResponse = item.content[0].text;\n} else {\n    aiResponse = item.text || item.output || \"\";\n}\n\nreturn {\n    json: {\n        text: aiResponse\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -80
      ],
      "id": "46ee11f9-3db2-4d4f-8bea-709868e1ab1f",
      "name": "GetMessage"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "GetMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMessage": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "11c0ee4c-55c3-4e4c-b2e5-39f85f51b947",
  "meta": {
    "instanceId": "7849105553fd1304c92b5067696e9c8e1ee17ac7c43c48f70b574509af7f5f05"
  },
  "id": "wiEYveOU8cyKjDry",
  "tags": []
}