pgvector-rag-agent/Pgvector Rag Agent.json
{
  "name": "Pgvector Rag Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        960
      ],
      "id": "cb5f3512-9f13-44ca-9195-bc1492db6546",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -320,
        928
      ],
      "id": "ef863057-d7fc-4c68-abe4-e0ab50f68a4f",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "t4J7GNcE1UfaVlE6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -576,
        1168
      ],
      "id": "946cd129-ddbd-4819-bcaf-d30fa3497857",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "6nAn36Xqk9Vziuk9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1040,
        -80
      ],
      "id": "f37fa7d5-2f86-4ac9-9404-cf8fedf4d3c5",
      "name": "When chat message received",
      "webhookId": "a96795ba-f26e-448b-8c28-eb444ff5c6f6",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -736,
        -16
      ],
      "id": "92a5eedd-5aa3-4150-9b53-4b24c338e14d",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -784,
        208
      ],
      "id": "efaa14e0-f92c-4fe3-b044-d0b0c86938dc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6nAn36Xqk9Vziuk9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "ALWAYS use this tool to answer ANY question about Gemini. Do not use your own knowledge. If the answer is not in the vector store, say 'I don't know",
        "tableName": "documents",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -528,
        208
      ],
      "id": "a73bde03-1ef2-45fc-a9fb-b2b10dcd7bba",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "t4J7GNcE1UfaVlE6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -448,
        416
      ],
      "id": "7049829d-f1bf-4ef2-937a-9009eddd4e10",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "6nAn36Xqk9Vziuk9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=$('Webhook').item.json.body.sessionId",
        "tableName": "chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -656,
        208
      ],
      "id": "a01377a1-2619-4f0d-b131-844e55f64047",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "t4J7GNcE1UfaVlE6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "caf4b3e3-9d26-4eeb-9c1d-658e39636ba8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        192
      ],
      "id": "b61ff671-3f8c-43ba-aaf9-a9c3cdf12cec",
      "name": "Webhook",
      "webhookId": "caf4b3e3-9d26-4eeb-9c1d-658e39636ba8"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"text\": \"The 'DevBook Pro X1' is engineered for software engineers who need raw power. Featuring a 32GB RAM and a 12-core processor, it handles Docker containers and heavy compilation tasks effortlessly. Its battery lasts up to 14 hours.\",\n    \"metadata\": {\n      \"category\": \"Hardware\",\n      \"type\": \"Laptop\",\n      \"target_audience\": \"Developers\",\n      \"price_range\": \"High\"\n    }\n  },\n  {\n    \"text\": \"Our 'SilentSpace 4' headphones use advanced Active Noise Cancellation (ANC) technology to eliminate background noise in busy open offices. The plush ear cushions provide comfort for long meetings, and the microphone isolates voice for clear calls.\",\n    \"metadata\": {\n      \"category\": \"Accessory\",\n      \"type\": \"Headphone\",\n      \"target_audience\": \"Office Workers\",\n      \"price_range\": \"Medium\"\n    }\n  },\n  {\n    \"text\": \"Effective immediately, the 'Remote Work Policy' allows employees to work from home up to 3 days a week. Attendance is mandatory for quarterly 'All-Hands' meetings. Home office equipment expenses are reimbursed up to $500.\",\n    \"metadata\": {\n      \"category\": \"HR Policy\",\n      \"type\": \"Remote Work\",\n      \"target_audience\": \"Employees\",\n      \"valid_from\": \"2024-01-01\"\n    }\n  },\n  {\n    \"text\": \"PostgreSQL with 'pgvector' extension allows storing and querying vector embeddings. This enables semantic search capabilities where results are ranked by meaning rather than keyword matching, essential for RAG applications.\",\n    \"metadata\": {\n      \"category\": \"Software\",\n      \"type\": \"Database\",\n      \"target_audience\": \"Data Engineers\",\n      \"tech_stack\": \"Postgres\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        960
      ],
      "id": "2b86df20-53d0-4123-a89e-ca5cb9175494",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "category",
                "value": "={{ $json.metadata.category }}"
              },
              {
                "name": "type",
                "value": "={{ $json.metadata.type }}"
              },
              {
                "name": "target_audience",
                "value": "={{ $json.metadata.target_audience }}"
              },
              {
                "name": "tech_stack",
                "value": "={{ $json.metadata.tech_stack }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -288,
        1136
      ],
      "id": "6be2caf9-d6e0-4a23-8751-794a30edd516",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 3000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        -208,
        1344
      ],
      "id": "106ec651-62c3-4aa4-8613-e00835a1f577",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"data\": {\n    \"answer\": \"{{ $('AI Agent').item.json.output }}\",\n    \"sessionId\": \"{{ $('Webhook').item.json.body.sessionId }}\",\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -16,
        -64
      ],
      "id": "2e3f4cba-9765-4e9c-8e48-c9435be0a35a",
      "name": "Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"data\": null,\n  \"error\": {\n    \"message\":\"{{ $json.error }}\" , \n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        128
      ],
      "id": "bba6338b-9419-4a34-bc52-d6ee29c74cd7",
      "name": "Error"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "PostmanRuntime/7.51.0",
            "accept": "*/*",
            "cache-control": "no-cache",
            "postman-token": "eb4c6f0c-84b5-4267-9032-c9c9e8cdbe75",
            "host": "localhost:5678",
            "accept-encoding": "gzip, deflate, br",
            "connection": "keep-alive",
            "content-length": "64"
          },
          "params": {},
          "query": {},
          "body": {
            "sessionId": "session_1",
            "chatInput": "Benim adım ne?"
          },
          "webhookUrl": "http://localhost:5678/webhook/caf4b3e3-9d26-4eeb-9c1d-658e39636ba8",
          "executionMode": "production"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "PostmanRuntime/7.51.0",
            "accept": "*/*",
            "cache-control": "no-cache",
            "postman-token": "b4a24a40-e9c8-4d17-aba7-da65b83f8465",
            "host": "localhost:5678",
            "accept-encoding": "gzip, deflate, br",
            "connection": "keep-alive",
            "content-length": "125"
          },
          "params": {},
          "query": {},
          "body": {
            "sessionId": "ozlem",
            "chatInput": "I am a software engineer and I need a powerful computer. Which one should I buy?"
          },
          "webhookUrl": "http://localhost:5678/webhook/caf4b3e3-9d26-4eeb-9c1d-658e39636ba8",
          "executionMode": "production",
          "error": "The service refused the connection - perhaps it is offline"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ff705fb8-b802-479b-b42d-96e5af3bd53e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7849105553fd1304c92b5067696e9c8e1ee17ac7c43c48f70b574509af7f5f05"
  },
  "id": "f9Yss7e0GyrIqMkZ",
  "tags": []
}